<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PandaLex</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PandaLex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<!-- PERMESSI LOCALIZZAZIONE --> 
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key> 
	<string>L'app PandaLex richiede l'accesso alla posizione per identificare la tua regione e fornirti i numeri di emergenza corretti per la tutela degli animali nella tua zona.</string>
	<key>NSLocationWhenInUseUsageDescription</key> 
	<string>L'app PandaLex richiede l'accesso alla posizione per identificare la tua regione e fornirti i numeri di emergenza corretti per la tutela degli animali nella tua zona.</string>
	<key>NSLocationAlwaysUsageDescription</key> 
	<string>L'app PandaLex richiede l'accesso alla posizione per identificare la tua regione e fornirti i numeri di emergenza corretti per la tutela degli animali nella tua zona.</string>
	
	<!-- PERMESSI FOTOCAMERA -->
	<key>NSCameraUsageDescription</key>
	<string>L'app PandaLex utilizza la fotocamera per permettere ai garanti regionali per la tutela degli animali di documentare le loro attività istituzionali. Ad esempio, i garanti possono scattare foto durante eventi educativi, campagne di sensibilizzazione o interventi sul territorio, che vengono poi pubblicate nell'app per informare i cittadini sulle iniziative di tutela degli animali nella loro regione.</string>

	<!-- PERMESSI GALLERIA FOTO -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>L'app PandaLex accede alla galleria foto per permettere ai garanti regionali di selezionare e caricare immagini già salvate sul dispositivo relative alle loro attività di tutela degli animali. Ad esempio, un garante può caricare foto di eventi, campagne di sensibilizzazione o documentazione di interventi sul territorio per condividerle con i cittadini attraverso l'app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>L'app PandaLex salva nella galleria le foto scattate durante la documentazione di eventi e attività istituzionali relative alla tutela degli animali, permettendo ai garanti di conservare una copia locale delle immagini pubblicate nell'app per future consultazioni o utilizzi.</string>

	<key>io.flutter.embedded_views_preview</key>
  	<true/>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
